{% extends 'base.html.twig' %}
{% block title %}Nouveau client{% endblock %}
{% block body %}
    <div class="page__header">
        <div>
            <h1 class="page__title">Nouveau client</h1>
        </div>
    </div>

    {{ include('client/_form.html.twig', {client: null, token_id: 'client_new', action: path('app_clients_new')}) }}
{% endblock %}
